<div id="cardId">
  <div class="card" data-id={{id}}>
    <img src='{{oneCard.img}}'>
    <p>Наименование:{{oneCard.cardsName}}</p>
    <p>Цена: {{oneCard.price}}</p>
    <p>Состояние: {{oneCard.condition}}</p>
  </div>
</div>

<form id='editCard' name='editCard' action="/edit/{{oneCard.id}}">

        <label for="cardsName">Название</label>
        <input id='cardsName' type="text" name='cardsName' required value="{{oneCard.cardsName}}">

        <label for="price">Цена</label>
        <input id='price' type="text" name='price' required value="{{oneCard.price}}">

        <label for='img'>Выберите файл</label>
        <input id='img' type="text" name='img' required value="{{oneCard.img}}">

        <label for='condition'>Состояние</label>
        <input id='condition' type="text" name='condition' required value="{{oneCard.condition}}">

        <button type="submit">Сохранить</button>

    </form>

  <script defer src="/edit.client.js"></script>  
